<div class="top-bar">
<img width="30px" height="30px" src="/img/arrow-back.png"<button onclick="history.back()"></button>
<div class="logo-name">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>
</div>

<h1>Edit Profile</h1>

<form action = "/profile/edit-profile/{{_id}}" method="POST" enctype="multipart/form-data">

<div class="form">
<label>Username</label>
<input class="formbox" type ='text' name = 'username' value = '{{username}}'>
</div>

<div class="form">
<label>Email</label>
<input class="formbox" type ='text' name = 'email' value = '{{email}}'>
</div>

<div class="form">
<label>Image</label>
<input type="file" name="imageUrl" class="form-control"/>
</div>

{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}

<button class="button" type = "submit"> Save changes </button>

</form>

<a href="/select-favorites"><button class="button">Edit your favorites</button></a>