<div class="homelogo">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>

<h1>Edit Profile</h1>

<form action = "/profile/edit-profile/{{_id}}" method="POST" enctype="multipart/form-data">

<div class="form">
<label>Username</label>
<input class="formbox" type ='text' name = 'username' value = '{{username}}'>
</div>

<div class="form">
<label>Email</label>
<input class="formbox" type ='text' name = 'email' value = '{{email}}'>
</div>

<div class="form">
<label>Image</label>
<input type="file" name="imageUrl" class="form-control"/>
</div>

{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}

<button class="button" type = "submit"> Save changes </button>

</form>