<h2>Login</h2>

<div>
  <form action="/auth/login" method="POST">

  <div> 
    <label>Email</label>
    <input type="email" name="email" placeholder="john@doe.com" />
  </div>
    
  <div> 
    <label>Password</label>
    <input type="password" name="password" placeholder="********" />
  </div>
     
    {{#if error}}
    <p style="color:rgb(218, 90, 90)">{{ error }}</p>
    {{/if}}
    
    <button class="button" type="submit">Login</button>

  </form>
</div>