<div class="homelogo">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>

<h1>¡Create a new account!</h1>

<div id="form">
  <form action="/auth/signup" method="POST">

  <div class="form"> 
    <label>Username:</label>
      <input class="formbox" type="text" name="username" placeholder="Your Username..." />
  </div>
 
    <div class="form">
    <label>Email:</label>
      <input class="formbox" type="email" name="email" placeholder="Your email..." />
    </div>

    <div class="form">    
    <label>Password:</label>
      <input class="formbox" type="password" name="password" placeholder="Type your password here..." />
    </div>

    <div class="form">
      <label>Confirm Password:</label>
      <input class="formbox" type="password" name="passwordConfirmation" placeholder="Type your password here..." />
    </div>

    <div class="form">
      <label>Image:
        <input type="file" name="profileImageURL"/>
        </label>
      </div>

      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}

    <div class="form"> 
    <button class= "button" type="submit">Create account</button>
    </div>
 
  </form>
</div>