<h1>¡Create a new account!</h1>

<div id="form">
  <form action="/auth/signup" method="POST">

  <div class="form"> 
    <label>Username:</label>
      <input type="text" name="username" placeholder="JohnDoe88" />
  </div>
 
    <div class="form">
    <label>Email:</label>
      <input type="email" name="email" placeholder="john@doe.com" />
    </div>

    <div class="form">    
    <label>Password:</label>
      <input type="password" name="password" placeholder="********" />
    </div>

    <div class="form">
      <label>Confirm Password:</label>
      <input type="password" name="passwordConfirmation" placeholder="********" />
    </div>

      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}

    <div class="form"> 
    <button class= "button" type="submit">Create account</button>
    </div>
 
  </form>
</div>