<h1>Pick a coin!</h1>

{{#each data.data}}

<p><img src = "{{image.thumb}}" alt="CryptoIcon"><a href = "/coin-detail/{{id}}">{{id}}</a></p>

{{/each}}

<a href="/coins-to-see"><button>Let's return?</button></a>