<h1>Welcome {{username}}</h1>

<p>Select an option</p>

<div class="home">
<a href="/all-coins"><button class="button">See all coins?</button></a>

<a href="/"><button class="button">See your favorites coins!</button></a>
</div>