<div class="homelogo">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>

<h1>Welcome to your favorite coins</h1>

{{#each data}}
<p> The current price of {{data.id}} is: {{data.market_data.current_price.usd}}$</p>
{{/each}}