<div class="homelogo">
<img id="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>



<div class="home">   
<a class="button" href="/auth/login">Login</a>

<a class="button" href="/auth/signup">Signup</a>

</div>