<h1>Home</h1>

<div id="logo">
    <img src = "/img/iron-logo.png" alt="ironcrypto logo">
</div>

<div id="home">   
<a class="button" href="/auth/login">Login</a>

<a class="button" href="/auth/signup">Signup</a>



</div>