<div class="top-bar">
<div class="logo-name">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>
</div>


<div>
   <a class="get-started" href="/auth/signup"> <img width="25px" src="/img/bitcoin.png"/><p class="get-started-text">Get started</p><img width="30px" src="/img/right-arrow.png"> </a>

    <p class="initial-statement">Keep track of your favorite cryptocoins so you can make the best investments</p>

    <p class = "second-statement">Ironcrypto is the place where you can watch closely, in real time, the latest moves of every coin. Signup and start today!</p>
</div>

<div class="home">   
<a class="button" href="/auth/login">Login</a>

<a class="button" href="/auth/signup">Signup</a>
</div>

<div class="all-subtitles">
    <div class="subtitle-group">
        <img width="35px" src="/img/favorites.png" alt="favorites icon"/>
        <label class="home-subtitle">Create your favorite cryto list</label>
        <p class="sub-description">Choose up to 6 coins to keep track of them easily from anywhere.</p>
    </div>

    <div class="subtitle-group">
        <img width="35px" src="/img/chat.png" alt="chat icon"/>
        <label class="home-subtitle">Join the discussion</label>
        <p class="sub-description" >See which coins are trending and the people's investment tips on the comment section of each coin.</p>
    </div>

    <div class="subtitle-group">
        <img width="35px" src="/img/bar-chart.png" alt="chart icon"/>
        <label class="home-subtitle">Get all the info you need</label>
        <p class="sub-description">Get all the mos important details of the hotest coins in the market.</p>
    </div>

</div>



