<div class="homelogo">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>

<h1>Select up to 6 Coins</h1>

<div>
<form method="POST" action="/select-favorites">
{{#each data}}
<li class="coin-list"><img src = "{{image.thumb}}" alt="CryptoIcon">{{id}}<input type="checkbox" class="checkboxFavorites" name="cryptoCoins" value={{id}} /></li>
{{/each}}
<button type="submit">Select Favorites</button>
</form>
</div>

