body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  margin-left: 28px;
  margin-top: 80px;
  font-size: 32px;
}

#logo {
  width: 375px;
  height: 176px;
  margin-left: 35px;
  margin-top: 174px;
}

.home-button{
  background-image: url("/img/fondo-paleta.png");
  color: white;
  font-family: Roboto Condensed;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

